<configuration>

    <!-- make sure Loki is running on localhost under port 3100 or adjust URL here -->
    <appender name="LOKI" class="net.codinux.log.loki.LogbackLokiAppender">
        <enabled>true</enabled>
        <lokiBaseUrl>http://localhost:3100</lokiBaseUrl>
        <username>null</username>
        <password>null</password>
        <tenantId>Tenant</tenantId>

        <fields>
            <logLevel>
                <include>Label</include>
                <name>level</name>
            </logLevel>
            <logger>
                <include>StructuredMetadata</include>
                <name>logger</name>
            </logger>
            <loggerClass>
                <include>No</include>
            </loggerClass>
            <thread>
                <include>StructuredMetadata</include>
                <name>thread</name>
            </thread>

            <stacktrace>
                <include>StructuredMetadata</include>
                <name>stacktrace</name>
                <maxFieldLength>32666</maxFieldLength>
            </stacktrace>

            <appName>
                <include>Label</include>
                <name>app</name>
                <value>TestApp</value>
            </appName>
            <appVersion>
                <include>No</include>
                <name>version</name>
                <value>1.0.0</value>
            </appVersion>
            <job>
                <include>No</include>
                <name>job</name>
                <value>null</value>
            </job>

            <hostName>
                <include>No</include>
                <name>host</name>
            </hostName>
            <hostIp>
                <include>No</include>
                <name>hostIP</name>
            </hostIp>

            <mdc>
                <include>StructuredMetadata</include>
                <prefix>mdc</prefix>
            </mdc>
            <marker>
                <include>StructuredMetadata</include>
                <name>marker</name>
            </marker>
            <mdc>
                <include>StructuredMetadata</include>
                <name>ndc</name>
            </mdc>
        </fields>

        <writer>
            <maxLogRecordsPerBatch>100</maxLogRecordsPerBatch>
            <maxBufferedLogRecords>2000</maxBufferedLogRecords>
            <sendLogRecordsPeriodMillis>100</sendLogRecordsPeriodMillis>

            <!-- Not set by default -->
            <connectTimeoutMillis></connectTimeoutMillis>
            <requestTimeoutMillis></requestTimeoutMillis>
        </writer>

        <includeKubernetesInfo>false</includeKubernetesInfo>
        <kubernetesFieldsPrefix>k8s</kubernetesFieldsPrefix>
        <kubernetesFields>

        </kubernetesFields>
    </appender>


    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%-4relative [%thread] %-5level %logger{35} - %msg %n</pattern>
        </encoder>
    </appender>

    <root level="info">
        <appender-ref ref="LOKI" />
        <appender-ref ref="STDOUT" />
    </root>

</configuration>